AoC 2019/.vs/
AoC 2019/Intcode Computer/bin/
AoC 2019/Intcode Computer/obj/
AoC 2019/UI/bin/
AoC 2019/UI/obj/
AoC 2019/UnitTests/bin/
AoC 2019/UnitTests/obj/
AoC 2019/WireManagement/bin/
AoC 2019/WireManagement/obj/
AoC 2019/AoC 2019/obj/
AoC 2019/CodeCracker/obj/
AoC 2019/CodeCracker/bin/
AoC 2019/AoC 2019/bin/
AoC 2019/OrbitalCalculator/bin/
AoC 2019/OrbitalCalculator/obj/
AoC 2019/MonitoringStation/bin/
AoC 2019/MonitoringStation/obj/
AoC 2019/SpaceImageFormat/bin/
AoC 2019/SpaceImageFormat/obj/
